<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <main class="flex-grow-1">
      <div class="container py-5 mt-5">
        <header class="text-center mb-5">
          <h1 class="display-4">Our Services</h1>
          <p class="lead">
            Discover the wide range of salon services we offer to help you look
            and feel your best.
          </p>
        </header>
        <div class="row">
          <% services.forEach(service => { %>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <img
                src="<%= service.image %>"
                class="card-img-top"
                alt="<%= service.name %>"
              />
              <div class="card-body d-flex flex-column">
                <h5 class="card-title"><%= service.name %></h5>
                <p class="card-text"><%= service.description %></p>
                <p class="text-muted">
                  Duration: <%= service.duration %> minutes
                </p>
                <p class="fw-bold mt-auto">$<%= service.price %></p>
                <a
                  href="/reservations?serviceId=<%= service.id %>"
                  class="btn btn-primary mt-2"
                  >Book Now</a
                >
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
